A-1

In [2]:
Marks = int(input("Enter your percentage"))
if Marks > 90:
    print("A")
elif Marks > 80 and Marks <= 90:
    print("B")
elif Marks >= 60 and Marks <= 80:
    print("C")
else :
    print("D")

Enter your percentage 75

C

A-2

In [5]:
cost = int(input("Cost price of the bike"))
if cost > 100000:
    print("15%")
elif cost > 50000 and cost <= 100000:
    print("10%")
else :
    print("5%")

Cost price of the bike 40000

5%

A-3

In [8]:
city = input("Enter City")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jai Mahal")

Enter City Delhi

Red Fort

In [16]:
City = {"Delhi" : "Red Fort", "Agra" : "Taj Mahal", "Jaipur" : "Jai Mahal"}

In [17]:
City

{'Delhi': 'Red Fort', 'Agra': 'Taj Mahal', 'Jaipur': 'Jai Mahal'}

In [18]:
City["Delhi"]

'Red Fort'

A-4

In [32]:
number = int(input("Enter your number"))
counter = 0
while number >= 10:
    number = number // 3
    counter = counter + 1
counter

Enter your number 150

3

A-5

In [ ]:
While loop is used to run a block code until a certain condition is met.
It checks the condition before running the code.
After checking the condition if its true the it goes further and run the code.
It runs the code until the condition becomes false.

In [ ]:
##Example

In [4]:
number = int(input("enter your number"))
factorial = 1
while number > 0 :
    factorial = factorial*number
    number = number-1
factorial

enter your number 10

3628800

A-6

In [1]:
n = int(input("Enter your number"))
i = 1
while i <= 10:
    result = n * i
    print(n, "*", i, "=", result)
    i = i + 1

Enter your number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

A-7

In [5]:
a = int(input("Enter your starting number"))
b = int(input("Enter your ending number"))
while a >= b:
    print(a)
    a=a-1

Enter your starting number 10
Enter your ending number 1

10
9
8
7
6
5
4
3
2
1